@model CartIndexViewModel

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Корзина</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Количество</th>
                                    <th>Продукт</th>
                                    <th class="text-right">Цена</th>
                                    <th class="text-right">Итог</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var line in Model.Cart.Lines)
                                {
                                    <tr>
                                        <td class="text-center">@line.Quantity</td>
                                        <td class="text-left">@line.Product?.Name</td>
                                        <td class="text-right">@line.Product?.Price.ToString("c")</td>
                                        <td class="text-right">
                                            @((line.Quantity * line.Product.Price).ToString("c"))
                                        </td>
                                        <td>
                                            <form asp-action="RemoveFromCart" method="post">
                                                <input type="hidden" name="ProductID"
                                                   value="@line.Product.ProductID" />
                                                <input type="hidden" name="returnUrl"
                                                   value="@Model.ReturnUrl" />
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    Удалить
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
                <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">
                    Оформить заказ
                </a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->